node_modules
.DS_Store
dist
dist-ssr
build
lib
types
*.local
yarn-error.log
.history
.vscode
.idea
lerna-debug.log
metadata.json
run-sidebarItem.cjs

.vitepress/cache
.vitepress/config.ts.timestamp*.mjs